* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 600px;
    border: 2px solid red;
    display: flex;
    justify-content: center; /* Justifty content and align items should always go on the container, the parent, not the boxes */
    align-items: center;
    flex-direction: column;
}

.box {
    width: 100px;
    height: 100px;  /* We hardcoded a height on the box however align items is by default stretched */
    border: 2px solid black;
}